.tags {
    display: flex;
    flex-direction: row;
}

.tag {   
    display: flex;
    flex-direction: row; 
    width: 120px;
    height: 25px;
    background-color: #FF6060;;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 14px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 780px) 
{
    .tag {
        width: 85px;
        height: 20px;
        font-size: 10px;    
        margin-top: 10px;   
        border-radius: 5px;       
    }
}