.rating {
    display: flex;
    flex-direction: row; 
    margin-right: 3px;
}

.star {
    display: flex;
    flex-direction: row;
}

svg#etMobile, svg#etMobileCouleur {
    display: none;
}
@media screen and (max-width: 780px)
 {
    .rating {       
        justify-content: space-between;        
    } 
    svg#etoile, svg#etCouleur {
        display: none;
    }
    svg#etMobile, svg#etMobileCouleur {
        display: block;
    }  
}
