.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;  
    margin: 30px auto 0;  
}

svg#aLet, svg#kLet, svg#maison, svg#sLet {
    display: inline-block;
    margin: 5px;
}

svg#aLetMobile, svg#kLetMobile, svg#maisonMobile, svg#sLetMobile { 
    display: none;
}

.mobileLogo {
    border: 50px solid blue;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;    
    font-weight: 500;
    font-size: 24px;  
    color: #FF6060;   
}

.accueil, .accueilActive {
    margin-right: 60px;
    color: #FF6060; 
}

.accueil, .aPropos {    
    text-decoration: none;      
    }

.aPropos, .aProposActive {    
    color: #FF6060;     
}

@media screen and (max-width: 1320px)
{
    .header {
        width: auto;       
    }
}

@media screen and (max-width: 1040px)
{
    .header {
        width: auto;      
    }
    .accueil, .accueilActive {
        margin-right: 10px;
    }
}

@media screen and (max-width: 780px)
{
    .header {
        margin: 20px 20px 0;
    }
}

@media screen and (max-width: 475px) 
    {
        .nav-bar {
            font-size: 12px;
        }      
        svg#aLet, svg#kLet, svg#maison, svg#sLet {           
            display: none;
        } 
        svg#aLetMobile, svg#kLetMobile, svg#maisonMobile, svg#sLetMobile {          
          display: inline-block;
          margin: 3px;
        } 
}

